.container-mae{
    margin: 0px;
    padding: 0px;
    
    .top-site{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        background-color: aqua;
        padding-bottom: 30px;

        .links{
            display: flex;
            text-align: center;
            gap: 30px;
            padding-top: 30px;


        
    }
}
}