.sessao-inicio {



    .top-site {
        display: flex;
        text-align: center;
        flex-direction: column;

        .container-objects {
            
            .objects {
                align-items: center;

                gap: 20px;




            }
        }
    }

    .texto-livraria {
        text-align: center;
        margin-left: 5rem;
        margin-right: 5rem;
        margin-bottom: 13.8rem;
    }
}